.kohls-rew-img2 {
    width: 120px;
    position: absolute;
    right: 40%;
    top: 8%;
}

.kohls-rew-p {
    position: absolute;
    top: 37%;
    right: 14%;
    font-size: 30px;
}

.kohls-rew-p2 {
    position: absolute;
    top: 51%;
    right: 18%;
    font-size: 20px;
}

.member-now {
    position: absolute;
    top: 65%;
    right: 35%;
    font-size: 20px;
}

.member-now a {
    color: black;
}